<html>

<head>
    <!-- Compressed CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>
    <div id="game" class="container" style="margin-top: 40px;">
        <div class="row">
            <!-- healthbar perform -->
            <div class="col-xs-6">
                <div class="well">
                    Player health
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-danger" role="progressbar" v-bind:aria-valuenow="player_health" aria-valuemin="0" aria-valuemax="100" v-bind:style="{ width: player_health + '%' }">
                        {{ player_health }}%
                    </div>
                </div>
                <!-- <input v-model="player_health"> -->
            </div>
            <div class="col-xs-6">
                <div class="well">
                    Monster health        
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" v-bind:aria-valuenow="monster_health" aria-valuemin="0" aria-valuemax="100" v-bind:style="{ width: monster_health + '%' }">
                        {{ monster_health }}%
                    </div>
                </div>
                <!-- <input v-model="monster_health"> -->
            </div>
        </div>

        <div class="well text-center" v-show="!init_game">
            <button class="btn btn-success" v-on:click="init">Start game</button>
        </div>
        
        <div class="well text-center" v-show="init_game">
            <button class="btn btn-primary" v-on:click="attack">Attack</button>
            <button class="btn btn-warning" v-on:click="heavy_attack">Heavy attack</button>
            <button class="btn btn-danger" v-on:click="heal">Heal</button>
            <button class="btn btn-info" v-on:click="defence">Defence</button>
            <button class="btn btn-default" v-on:click="stop_game">Stop game</button>
        </div>

        <div class="well text-center" style="max-height: 500px; overflow-y: scroll;" id="status_game" v-show="init_game" >
            <!-- result when player click a button -->
            <div v-for="message in messages">
                <div class="alert" v-bind:class="[message.class]" role="alert">{{ message.content }}</div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
    crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script>
        var alwaysBottom = function () {
            $('#status_game').animate({scrollTop: $('#status_game').attr('scrollHeight')});
        }
        var app = new Vue({
            el: '#game',
            data: {
                player_health: 0,
                monster_health: 0,
                init_game: false,
                messages: [
                    {content: 'Game started', class: 'alert-primary'}
                ]
            }, 
            methods: {
                init: function () {
                    this.player_health = 100;
                    this.monster_health = 100;
                    this.init_game = true;
                },
                stop_game: function () {
                    this.player_health = 0;
                    this.monster_health = 0;
                    this.init_game = false;
                },
                attack: function () {
                    this.messages.push({content: 'Player attack', class: 'alert-warning'});
                },
                heavy_attack: function () {
                    // body...
                },
                heal: function () {
                    // body...
                },
                defence: function () {
                    // body...
                }
            }
        })

    </script>
</body>

</html>